body {
  margin: 10px;
}

/*Use the margin property to separate elements and the padding property to add space between the border and the content area of an element*/
p {
  margin:20px;
  padding: 0;
}