<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="box">
     <p>
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi quae nisi similique officia error nesciunt distinctio, quis reiciendis velit neque consequatur eos, dolor assumenda at ipsa ullam. Consequatur fuga esse natus sed veritatis! Delectus minima, adipisci doloremque expedita illo repellat laborum quas quos possimus quod, cumque, atque maiores autem mollitia ipsam ea recusandae. In blanditiis consectetur quasi minus tempore nesciunt.
     </p>
    </div>
  </body>
</html>
