<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div>
      <h1>The Ultimate HTML5 & CSS series: Part2</h1>
      <h2>I'll learn</h2>
      <ul>
        <li>CSS Box Model</li>
        <li>Sizing elements</li>
        <li>Overflowing</li>
        <li>Measurement units</li>
        <li>Positioning</li>
        <li>Floating elements</li>
        <li>FlexBox &Grid layouts</li>
        <li>Media queries</li>
      </ul>
    </div>
  </body>
</html>
